<?xml version="1.0"?>
<launch>
    <arg name="port" default="9090"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
        <arg name="port" value="$(arg port)"/>
    </include>

    <!-- Client Parameters are stored in ./config/params.json -->
    <node name="client" type="run_client.sh" pkg="nav_rest_api" output="screen" />

</launch>